@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

nav {
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
  display: flex;
  gap: 4rem;
}

.nav-logo {
  margin: 0.375rem 2.938rem 0.125rem 4rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: normal;
  color: #0290ff;
}

ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  gap: 1rem;
}

.booksul li {
  font-size: 20px;
  gap: 0.938rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 4rem 7.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

nav ul li:nth-child(1) {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
}

nav ul li:nth-child(2) {
  width: 6.563rem;
  height: 1rem;
  margin: 1.125rem 41.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
}

.list-button button {
  padding: 3px 5px;
  border: none;
  background-color: transparent;
  color: #4386bf;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}

.construction {
  margin: 1.813rem 32.75rem 0 10.25rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
}

.statusbtn {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  border: none;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  font-size: 0.813rem;
  letter-spacing: 05px;
  text-align: center;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  cursor: pointer;
}

form {
  display: flex;
  padding: 2rem 4rem 7.625rem 1.688rem;
  margin: -1.4rem 8.25rem 0;
}

input {
  display: block;
  width: 39.5rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0 0;
  padding: 0.813rem 0.813rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.no-book {
  text-align: center;
  padding: 1rem 0;
  margin: 1.813rem 32.75rem 0 10.25rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
}

.author {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.list-container h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.775rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
}

.category {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  color: #121212;
}

.book-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contain {
  display: flex;
  justify-content: space-between;
}

.level {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.main-l {
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
}

.main-chapter {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #121212;
}

.Update-progress {
  width: 11.5rem;
  height: 2.063rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  font-size: 0.813rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
}

.divider-1 {
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px #e8e8e8;
}

form button {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  border: none;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  font-size: 0.813rem;
  font-weight: bold;
  letter-spacing: 05px;
  text-align: center;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  cursor: pointer;
}

.list-button {
  display: flex;
}

.divider-2 {
  width: 0.125rem;
  height: 1.5rem;
  margin: 0.75rem 1.063rem 0 0.938rem;
  border: solid 1px #e8e8e8;
}

.hr {
  width: 97.999rem;
  height: 0.125rem;
  margin: 0 auto;
  border: solid 1px #e8e8e8;
}

.form-h2 {
  margin: 1.813rem 32.75rem 0 10.25rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
}

.oval {
  width: 2.813rem;
  height: 2.813rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10rem;
}

svg {
  width: 1.063rem;
  height: 1.063rem;
  color: #0290ff;
  fill: #0290ff;
}

#root {
  background-color: #fafafa;
}
